/* screen - password */

.password {
  background-color: #ffffff80;
  height: 900px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.password .pngtreeinternet-ology1020344-1-Czqhvg {
  background-color: transparent;
  height: 900px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.password .frame-49-Czqhvg {
  background-color: var(--lochmara);
  height: 157px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.password .recover-your-password-vIWSRx {
  background-color: transparent;
  height: auto;
  left: 402px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: 590px;
  font-size: 56px;
}

.password .frame-51-Czqhvg {
  background-color: transparent;
  height: 216px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 189px;
  width: 1374px;
}

.password .forgot-password-e-board-account-FlpzvK {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1338px;
}

.password .frame-52-Czqhvg {
  font-size: 35px;
  left: 46px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 476px;
  width: 422px;
}

.password .frame-55-Czqhvg {
  font-size: 35px;
  left: 562px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 476px;
  width: 422px;
}

.password .frame-53-Czqhvg {
  height: 96px;
  left: 1047px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 476px;
  width: 363px;
}

.password .button {
  background-color: yellow;
  height: 30px;
  font-size: 24px;
  left: 85px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
  cursor: pointer;
  border: none;
}

.password .frame-54-Czqhvg {
  background-color: transparent;
  height: 49px;
  left: -18px;
  overflow: hidden;
  position: absolute;
  top: 662px;
  width: 486px;
}

.password .back-to-sign-in-OAGxgg {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 60px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 13px;
  width: auto;
}

.password .frame-50-Czqhvg {
  background-color: var(--black);
  height: 157px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 743px;
  width: 1440px;
}

.password .whats-app-image-10-19-at-1216-2-xNxJ03 {
  background-color: transparent;
  height: 157px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 492px;
}

.password .frame-56-Czqhvg {
  background-color: transparent;
  height: 31px;
  left: 28px;
  overflow: hidden;
  position: absolute;
  top: 436px;
  width: 352px;
}

.password .username-S8ePYv {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 148px;
}

.password .frame-57-Czqhvg {
  background-color: transparent;
  height: 31px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 434px;
  width: 319px;
}

.password .email-id-zrEF1m {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 148px;
}
