:root { 
  --black: #000000;
  --cerulean-frost: #669bcc;
  --lochmara: #0077c7;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 18px;
  --font-size-xxl: 23px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 29px;
  --font-size-xxxxxl: 30px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-black-29px {
  font-size: 15px;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-72px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
}
