.username {
  background-color: #ffffff80;
  height: 900px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.username .pngtreeinternet-ology1020344-1-4lQ5K7 {
  background-color: transparent;
  height: 900px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.username .frame-49-4lQ5K7 {
  background-color: var(--lochmara);
  height: 157px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.username .recover-your-username-bvbfOC {
  background-color: transparent;
  height: auto;
  font-size: 56px;
  left: 402px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: 674px;
}

.username .frame-51-4lQ5K7 {
  background-color: transparent;
  height: 223px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 189px;
  width: 1327px;
}

.username .forgot-username-you-right-away-qfqSdS {
  background-color: transparent;
  height: auto;
  font-size: 45px;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1327px;
}

.username .frame-55-4lQ5K7 {
  font-size: 30px;
  left: 35px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 489px;
  width: 695px;
}

.username .frame-53-4lQ5K7 {
  background-color: var(--sizzling-sunrise);
  height: 96px;
  left: 1047px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 476px;
  width: 363px;
}

.username .send-jwlDWs {
  background-color: yellow;
  height: auto;
  font-size: 34px;
  left: 85px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: auto;
  cursor: pointer;
}

.username .frame-54-4lQ5K7 {
  background-color: transparent;
  height: 49px;
  left: -18px;
  overflow: hidden;
  position: absolute;
  top: 662px;
  width: 486px;
}

.username .back-to-sign-in-zbhdxZ {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 50px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 13px;
  width: auto;
}

.username .frame-50-4lQ5K7 {
  background-color: var(--black);
  height: 157px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 743px;
  width: 1440px;
}

.username .whats-app-image-10-19-at-1216-2-J0biTy {
  background-color: transparent;
  height: 157px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 492px;
}

.username .frame-57-4lQ5K7 {
  background-color: transparent;
  height: 31px;
  left: 35px;
  overflow: hidden;
  position: absolute;
  top: 442px;
  width: 319px;
}

.username .email-id-aBerD9 {
  background-color: transparent;
  height: auto;
  left: 21px;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 148px;
}